{% extends 'base.html' %}
{% block body_content%}
{% load i18n %}
{% load static %}
<main>
    <!-- ============abt-01 Section  Start============ -->

    <section class="abt-01">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading-wrapper">
                        <h3>{% trans 'About Us' %}</h3>
                        <ol>
                            <a href="{% url 'dashboard' %}"><li>{% trans 'Home' %}<i class="far fa-angle-double-right"></i></li></a>
                            {% comment %} <li>{% trans 'Home' %}<i class="far fa-angle-double-right"></i></li> {% endcomment %}
                            <li>{% trans 'About Us' %}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-001">
        <div class="container">
            {% for i in aboutlist %}
        {% if forloop.counter|divisibleby:2 == 0 %}
            <div class="row">
                <div class="text-part col-md-6">
                    <h2>{% trans 'About Our School' %}</h2>
                    <p>{{i.body}}</p>
                </div>
                {% if i.image %}
                <div class="image-part col-md-6"> 
                    <div class="about-qcard" style="height: 450px;">
                        <img src="{{i.image.url}}" alt="image" style="height:400px; width:100%;">
                    </div>
                  </div>
                  {% endif %}
            </div>
            {% else %}
            <div class="row">
                {% if i.image %}
                <div class="image-part col-md-6">
                    <div class="about-qcard" style="height: 450px;">
                        {% comment %} <div class="about-qcard" style="height: 00%;"> {% endcomment %}
                        <img src="{{i.image.url}}" alt="image" style= width="100%; height: 450px;">
                    </div>
                </div>
                {% endif %}
                <div class="text-part col-md-6">
                    <li>{{i.body}}</li>
                </div>
            </div> 
            {% endif %}
        {% endfor%}

        </div>

    </section>

    <!-- ======================Bg-04 started====================== -->

    <section class="bg-04">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading">
                         <h2>{% trans 'Team Member' %}</h2>
                    </div>
                </div>

                <div class="main-team-card d-flex">
                    {% for i in teamlist %}
                    <div class="team-setup">
                        <div class="team-items">
                            {% if i.image %}
                            <div class="team-user">
                                <img src="{{i.image.url}}" alt="{{i.name}}">
                            </div>
                            {% endif %}
                            <div class="team-user-social">
                                <ol>
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-twitter"></i></li>
                                    <li><i class="fab fa-google"></i></li>
                                    <li><i class="fab fa-skype"></i></li>
                                </ol>
                            </div>
                            <div class="team-name">
                                <h2>{{i.name}}</h2>
                                <b>{{i.position}}</b>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

</main>

{% endblock %}