{% extends 'base.html' %}
{% block body_content%}
{% load static %}
{% load i18n %}

<main class="charity-01-main">

    <!-- ============abt-01 Section  Start============ -->

    <section class="abt-01">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading-wrapper">
                        <h3>{% trans 'Contact Us' %}</h3>
                        <ol>
                            <a href="{% url 'dashboard' %}"><li>{% trans 'Home' %}<i class="far fa-angle-double-right"></i></li></a>
                            <li>{% trans 'Contact Us' %}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-0-b">
        <div class="container">
            <div class="row">
                <div class="main-card-contact d-flex">
                    {% for i in contactlist %}
                    <div class="sup-card-contact">
                        <div class="sup-content">
                            <div class="head-content">
                                <p>{{i.description}}</p>
                            </div>

                            <div class="contact-title">
                                <h2>{% trans 'Contact Us' %}</h2>
                                <ol>
                                    <li><i class="fa fa-map-marker"></i>{{i.location}}</li>
                                    <li><i class="fa fa-envelope"></i>{{i.email}}</li>
                                    <li><i class="fa fa-phone"></i>+977 {{i.number}} </li>
                                    <li><i class="fa fa-clock"></i>{{i.opening_date}}</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="sup-card-contact-0a">
                        <div class="contact-a1">
                            <h1>{% trans 'Keep In Touch' %}</h1>
                            <form method="post">
                             {% csrf_token %}
                                <div class="dived d-flex">
                                    <div class="form-group">
                                        <div class="form-sup">
                                            <div class="cal-01">
                                                <input type="name" name="name" id="" class="form-control"
                                                    placeholder="Enter Your Name" required>
                                                <i class="fal fa-user-tie"></i>
                                            </div>

                                            <div class="cal-01">
                                                <input type="phone" name="number" min="0" id="" class="form-control"
                                                    placeholder="Phone Number" required>
                                                <i class="fal fa-phone"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-sup">
                                            <div class="cal-01">
                                                <input type="email" name="email" id="" class="form-control"
                                                    placeholder="Enter Your Email" required>
                                                <i class="fal fa-at"></i>
                                            </div>
                                            <div class="cal-01">
                                                <input type="text" name="message_subject" id="" class="form-control"
                                                    placeholder="Enter Your Subject" required>
                                                <i class="fal fa-envelope-open-text"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ca-ool">
                                        <textarea name="messages" cols="80" rows="6" class="form-control"
                                            placeholder="Message" required></textarea>
                                    </div>

                                    <div class="form-group mt-2">
                                        <div class="form-sup">
                                            <div class="cal-01">
                                                <button type="submit" style="background: #6777ef"
                                                    class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-0-b">
        <div class="container">
            {% for i in maplist%}
            <iframe style="width:100%"
                src="{{i.map_link}}"
                height="450" frameborder="0" allowfullscreen=""></iframe>
            {% endfor %}
        </div>
    </section>
</main>


{% endblock %}