{% extends 'base.html' %}
{% block body_content%}
{% load static %}
    {% load i18n %}

<main>

    <!-- ======================Bg-04 started====================== -->

    <section class="abt-01">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="heading-wrapper">
                <h3>{{facilitielist.title}}</h3>
                <ol>
                  <a href="{% url 'dashboard' %}">
                  <li>
                    {% trans 'Home' %}<i class="far fa-angle-double-right"></i>
                  </li>
                  </a>
                 <a href="{% url 'facility'%}"> <li>{% trans 'Facilities' %}<i class="far fa-angle-double-right"></i></li></a>
                  <li>{{facilitielist.title}}</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-05">
        <div class="container">
          <div class="blog-main-card d-flex">
            {% for i in facilitylist %}
            <article class="blog-sub">
            {% if i.image %}
              <div class="blog-content">
                <img src="{{i.image.url}}" alt="{{i.title}}">
              </div>
              {% endif %}
              <div class="blog-content-section">
                <div class="blo-content-title">
                  <h4>{{i.title}}</h4>
                  {% comment %} <p>{{i.body|safe}}</p> {% endcomment %}
                  {% if i.body|safe|linebreaks|wordcount <= 20 %}
                    <p>{{ i.body|safe|linebreaks }}</p>
                  {% else %}
                  <p>
                    {{ i.body|safe|linebreaks|truncatewords:20 }}<a href="{% url 'siglefacility' slug=i.slug %}">..see more</a>
                  </p>
                {% endif %}
                </div>
                <div class="blog-admin">
                  <ol>
                    {% comment %} <li>
                      <i class="fal fa-user-tie"></i> By Admin
                    </li> {% endcomment %}
                    <li>
                      <i class="fal fa-calendar-alt"></i> {{i.create_date}}
                    </li>
                  </ol>
                </div>
              </div>
            </article>
            {% endfor %}
          </div>

           
          <div class="pagination__main">
            <nav class="pagination__outer" aria-label="Page navigation">
              {% if facilitylist.has_other_pages %}
              <ul class="pagination">
                <li class="page-item">
                  <a {% if facilitylist.has_previous %} href="?page={{ facilitylist.previous_page_number }}" {% endif %}class="page-link" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                  </a>
                </li>
                {% for i in facilitylist.paginator.page_range %}
                <li class="page-item" {% if facilitylist.number == i %} active{% endif %} >
                  <a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                  {% endfor %}
                <li class="page-item">
                  <a {% if facilitylist.has_next %} href="?page={{ facilitylist.next_page_number}}" {% endif %} class="page-link" aria-label="Next">
                    <span aria-hidden="true">»</span>
                  </a>
                </li>
              </ul>
              {% endif %}
            </nav>
          </div>
        </div>
      </section>

</main>

{% endblock %}