{% extends 'base.html' %}
{% block body_content %}
{% load i18n %}
{% load static %}

{% block css%}

{% endblock %}
<main>
    <!-- ============abt-01 Section Start============ -->
    <section class="abt-01">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading-wrapper">
              <h3>{% trans 'Notice' %}</h3>
              <ol>
                <a href="{% url 'dashboard' %}">
                <li>
                  {% trans 'Home' %}<i class="far fa-angle-double-right"></i>
                </li>
                </a>
               <li>{% trans 'Notice' %}<i class="far fa-angle-double-right"></i></li>
               
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-02">
      <div class="container">
        <div class="row">
          {% for i in noticelist %}
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="wrapper">
                <div class="bs mt-3">
                  <div class="single__full">              
                    <h2><a href="{% url 'singlenotice' slug=i.slug %}"><b>{{i.title}}</b></a></h2>
                    <p><b>Published Date : {{i.create_date}}</b></p><br>
                </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div> 

        <div class="pagination__main">
            <nav class="pagination__outer" aria-label="Page navigation">
              {% if noticelist.has_other_pages %}
              <ul class="pagination">
                <li class="page-item">
                  <a {% if noticelist.has_previous %} href="?page={{ noticelist.previous_page_number }}" {% endif %}class="page-link" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                  </a>
                </li>
                {% for i in noticelist.paginator.page_range %}
                <li class="page-item" {% if noticelist.number == i %} active{% endif %} >
                  <a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                  {% endfor %}
                <li class="page-item">
                  <a {% if noticelist.has_next %} href="?page={{ noticelist.next_page_number}}" {% endif %} class="page-link" aria-label="Next">
                    <span aria-hidden="true">»</span>
                  </a>
                </li>
              </ul>
              {% endif %}
            </nav>
          </div>
      </div>
    </section>

    <!-- ======================Bg-04 started====================== -->

</main>
{% endblock %}
