{% extends 'base.html' %}
{% block body_content %}
{% load i18n %}
{% load static %}

{% block css%}

{% endblock %}
<main>
    <!-- ============abt-01 Section Start============ -->
    <section class="abt-01">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading-wrapper">
              <h3>{% trans 'Notice' %}</h3>
              <ol>
                <a href="{% url 'dashboard' %}">
                <li>
                  {% trans 'Home' %}<i class="far fa-angle-double-right"></i>
                </li>
                </a>
                <a href="{% url 'notice' %}"> <li>{% trans 'Notice' %}<i class="far fa-angle-double-right"></i></li></a>
                <li>{{singlenotice.title}}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-02">
      <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="wrapper">
                <div class="bs mt-3">
                   <div class="single__full">
                    <h2><b>{{singlenotice.title}}</b></h2>
                    <p><b>Published Date: {{singlenotice.create_date}}</b></p><br>
                    {% if singlenotice.image %}
                     <img src="{{ singlenotice.image.url }}" style="width: 100%; height: 100%;" alt="{{i.title}}"/>
                    {% endif %}
                    <br><br><br>
                    </div>
                </div>
              </div>
            </div>
        </div> 
      </div>
    </section>
    <!-- ======================Bg-04 started====================== -->
</main>
{% endblock %}
