{% extends 'base.html' %}
{% block body_content%}
{% load static %}
    {% load i18n %}
<style> 
 

</style>
<main>
    <!-- ============abt-01 Section  Start============ -->

    <section class="abt-01">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading-wrapper">
                        <h3>Service</h3>
                        <ol>
                          <a href="{% url 'dashboard' %}"><li>Home<i class="far fa-angle-double-right"></i></li></a>
                            <li>Service</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================Bg-04 started====================== -->

    <section class="bg-03">
        <div class="container">
          <div class="row">
            {% for i in servicelist %}
            
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="wrapper">
                    <div class="content">
                        <ol>
                        <li>
                          <a href="{% url 'singleprogram' slug=i.slug %}">
                          {% if i.image %}
                            <img src="{{ i.image.url }}" alt="{{ i.title }}" style="height: 150px; width: 200px;" />
                          {% endif %}
                            <h3>{{ i.title }}</h3>
                          </a>
                            {% if i.body|safe|linebreaks|wordcount <= 20 %}
                            <p>{{i.body|safe}}</p>
                            {% else %}
                            <p>
                                {{ i.body|safe|linebreaks|truncatewords:20 }}<a href="{% url 'singleprogram' slug=i.slug %}">..see more</a>
                            </p>
                            {% endif %}
                        </li>
                        </ol>
                    </div>
                    </div>
                </div>
               </div>
            {% endfor %}
          </div>
         
          <div class="pagination__main">
            <nav class="pagination__outer" aria-label="Page navigation">
              {% if servicelist.has_other_pages %}
              <ul class="pagination">
                <li class="page-item">
                  <a {% if servicelist.has_previous %} href="?page={{ servicelist.previous_page_number }}" {% endif %}class="page-link" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                  </a>
                </li>
                {% for i in servicelist.paginator.page_range %}
                <li class="page-item" {% if servicelist.number == i %} active{% endif %} >
                  <a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                  {% endfor %}
                <li class="page-item">
                  <a {% if servicelist.has_next %} href="?page={{ servicelist.next_page_number}}" {% endif %} class="page-link" aria-label="Next">
                    <span aria-hidden="true">»</span>
                  </a>
                </li>
              </ul>
              {% endif %}
            </nav>
          </div>

        </div>
    </section>


</main>

{% endblock %}