{% extends 'base.html' %}
{% block body_content %}
{% load static %}
    {% load i18n %}
  <main>
    <!-- ============abt-01 Section Start============ -->
    <section class="abt-01">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading-wrapper">
              <h3>{{eventlist.title}}</h3>
              <ol>
                <a href="{% url 'dashboard' %}">
                <li>
                  {% trans 'Home' %}<i class="far fa-angle-double-right"></i>
                </li>
                </a>
               <a href="{% url 'event' %}"><li> {% trans 'Events' %}<i class="far fa-angle-double-right"></i></li></a>

                <li>{{eventlist.title}}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="about-001">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              {% if eventlist.image %}
              <div class="about-qcard">
                <img src="{{ eventlist.image.url }}" style="width: 100%; height: 450px;" alt="" />
              </div>
              {% endif %}
              <div class="text-part">
                <p>{{ eventlist.description }}</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-part">
                <h2></h2>
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                  <div class="card-header">Event Info</div>
                  <div class="card-body">
                  <ul>
                        <li><i class="fa fa-calendar" aria-hidden="true"></i> Date
                        <ul>
                          <li class="mt-2">&nbsp;&nbsp; {{eventlist.expired_date}}</li>
                        </ul></li>  
                        <li class="mt-3" ><i class="fa fa-times-circle" aria-hidden="true"></i> Time
                          <ul>
                            <li class="mt-2">&nbsp;&nbsp; {{eventlist.Time}}</li>
                          </ul></li>  
                      </ul>
                  </div>
                </div>
                <div class="card text-bg-info mb-3 mt-5" style="max-width: 18rem;">
                  <div class="card-header">Event Organizer</div>
                  <div class="card-body">
                      <li><i class="fa fa-user" aria-hidden="true"></i> Name 
                      <ul>
                        <li class="mt-2">&nbsp;&nbsp; {{eventlist.organizer_name}}</li>
                      </ul></li>  
                    
                      <li class="mt-3"><i class="fa fa-envelope" aria-hidden="true"></i> Email 
                      <ul>
                        <li class="mt-2">&nbsp;&nbsp; {{eventlist.organizer_email}}</li>
                      </ul></li>  
                    
                      <li class="mt-3"><i class="fa fa-phone" aria-hidden="true"></i> Phone 
                      <ul>
                        <li class="mt-2">&nbsp;&nbsp; {{eventlist.organizer_phone}}</li>
                      </ul></li>  
                  </div>
                </div>
                <div class="card text-bg-info mb-3 mt-5" style="max-width: 18rem;">
                  <div class="card-header">Event Category</div>
                  {% for i in eventlists%}
                  <div class="card-body">
                      <li><a href="{% url 'singleevent' slug=i.slug %}">{{i.title}}</a>
                      </li>  
                  </div>
                  {% endfor %}
                </div>

                {% comment %} <p>{{ eventlist.description }}</p> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </section>
      
  </main>
{% endblock %}
