{% extends 'base.html' %}
{% block body_content %}
  {% load static %}
    {% load i18n %}
  <main>
    <!-- ============abt-01 Section Start============ -->

    <section class="abt-01">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading-wrapper">
              <h3>{{facilitielist.title}}</h3>
              <ol>
                <a href="{% url 'dashboard' %}">
                <li>
                  {% trans 'Home' %}<i class="far fa-angle-double-right"></i>
                </li>
                </a>
               <a href="{% url 'facility'%}"> <li>{% trans 'Facilities' %}<i class="far fa-angle-double-right"></i></li></a>
                <li>{{facilitielist.title}}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about-001">
      <div class="container">
        <div class="row">
          
        </div>
        <div class="row">
          {% if facilitielist.image %}
          <div class="image-part col-md-6">
            <div class="about-qcard" style="height: 100%; ">
              <img src="{{ facilitielist.image.url }}" alt=""  style="height: 92%; width: 94%;"/>
            </div>
          </div>
          {% endif %}
          {% if facilitielist.detailmage %}
          <div class="image-part col-md-6">
            <div class="about-qcard" style="height: 100%;">
              <img src="{{ facilitielist.detailmage.url }}" alt="" style="height: 92%; width: 94%;" />
            </div>
          </div>
          {% endif %}
        </div>
        <div class="row">
          <div class="text-part col-md-12">
            <li>{{ facilitielist.body|safe|linebreaks }}</li>
          </div>
        </div>
      </div>
    </section>

  </main>
{% endblock %}
