
.carousel {
  width: 100%;
  height: 630px;
  position: relative;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.carousel-caption h5 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.carousel-caption p {
  font-size: 18px;
}

.carousel-indicators {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicators li.active {
  background-color: #fff;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.carousel-control-prev {
  left: 15px;
}

.carousel-control-next {
  right: 15px;
}
