{% load i18n %}
{% load static %}

<header>
    <div class="my-nav">
      <div class="container">
        <div class="row">
          <div class="nav-items">
            {% for i in logolists %}
            <div class="logo">
              <a href="{% url 'dashboard' %}"> <img  style="height: 24%; width: 24%" src="{{i.image.url}}" alt="logo" ></a>
            </div>
            {% endfor %}
            <div class="menu-toggle">
              <div class="menu-hamburger"></div>
            </div>
            <div class="menu-items">
              <div class="menu">
                <ul>
                  <li><a href="/">{% trans 'Home' %}</a></li>
                  <li><a href="{% url 'aboutus' %}">{% trans 'About Us' %}</a></li>
                  <li><a href="{% url 'event' %}">{% trans 'Events' %}</a></li>
                  <li><a href="{% url 'notice' %}">{% trans 'Notice' %}</a></li>
                  <li><a href="{% url 'gallery' %}">{% trans 'Gallery' %}</a></li>
                  <li><a href="{% url 'contactus' %}">{% trans 'Contact Us' %}</a></li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {% trans 'Language' %}
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'set-language' 'en' %}">English</a></li>
                      <li><a class="dropdown-item" href="{% url 'set-language' 'ne' %}">Nepali</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'set-language' 'fr' %}">French</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
 {% block js%}
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}